.entries {
  overflow: auto;
}

.list-group-item {
  display: inline-block;
  margin: 1em;
  text-align: center;
}

.after .list-group-item {
  clear: left;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.frontpageimage {
  margin: 5%;
}






